* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    transition: 250ms color;
}

a:hover {
    color: white;
}

body {
    height: 100vh;
    position: relative;
    background-color: #F0F8FF;
}

nav {
    width: 100%;
    padding: 20px 50px;
    background-color: #4682B4;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
}

.content {
    padding: 15px 50px;
}

.section {
    padding: 20px 0px;
}

.section>h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.emp-cards {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 20px;
}

.two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    color: white;
    padding: 20px;
    background-color: #6A5ACD;
    border-radius: 20px;
}

.card>h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

footer {
    bottom: 0;
    width: 100%;
    color: #4682B4;
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    background-color: #2F4F4F;
}

footer>a {
    color: #4682B4;
}