{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="section">
        <h1>Managers</h1>
        <div class="emp-cards two-cols">
            {% for key, value in data.items() %}
            {% if "Manager" in value['role'] %}

            <div class="card">
                <h3>{{ value['name'] }}</h3>
                <h4>Manager ID: {{ key }}</h4>
                <p>Age: {{ value['age'] }}</p>
                <b>Role: {{ value['role'] }}</b>
            </div>

            {% endif %}

            {% endfor %}
        </div>
    </div>

    <div class="section">
        <h1>Employees</h1>
        <div class="emp-cards three-cols">
            {% for key, value in data.items() %}
            {% if "Manager" not in value['role'] %}

            <div class="card">
                <h3>{{ value['name'] }}</h3>
                <h4>Employee ID: {{ key }}</h4>
                <p>Age: {{ value['age'] }}</p>
                <b>Role: {{ value['role'] }}</b>
            </div>

            {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}