{% extends "layout.html" %}
{% block content %}

<section class="pt-20 pb-10">
    <div class="mx-auto px-6 flex flex-col md:flex-row items-center">
        <div class="w-4/5 mx-auto">
            <h1 class="text-4xl font-bold text-blue-600 mb-6">
                Stay Organized with the Todo App
            </h1>
            <p class="text-lg text-gray-700 mb-6">
                Manage your tasks effortlessly and increase productivity.<br>Create, update, and delete your tasks all in
                one place.
            </p>
            <a href="/user/auth/signup" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600">
                Get Started
            </a>
        </div>
    </div>
</section>

<!-- Features -->
<section class="py-20">
    <div class="container mx-auto px-6">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-10">Features</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-blue-600 mb-4">User Authentication</h3>
                <p class="text-gray-700">Securely log in and manage your personal tasks. Only you have access to your
                    data.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-blue-600 mb-4">Task Management</h3>
                <p class="text-gray-700">Create, update, and delete tasks with ease. Stay on top of your work.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold text-blue-600 mb-4">Responsive Design</h3>
                <p class="text-gray-700">Access your tasks on any device, whether you're on a desktop or mobile.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}